<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kraken Home</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body class="background">
    <div class="content">
      <div>
        <h1 class="header">Kraken</h1>
        <p class="description">
          A tool designed to help you analyze content from XML files.
        </p>
        <div class="button-group">
          <a href="/upload" class="nav-btn">analyse rhcert-results.xml </a>
          <a href="https://github.com/Red-Hat-Partner-CertOps/ktctl" class="nav-btn">analyse sos-report </a>
          <a href="https://github.com/Red-Hat-Partner-CertOps/hwcert-spec-review-automation" class="nav-btn">test-plan automation</a>
        </div>
      </div>

      <div class="logo">
        <img src="/static/images/logo-black.png" alt="Kraken Logo" />
      </div>
    </div>
  </body>
</html>